@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 40vh;
  --card-width: calc(var(--card-height) / 1.5);
}
body {
  min-height: 100vh;
  background-color: #1E2230;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%2308078B' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%2306928C'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
}
  
#opening {
  top: 50%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: 'lato',sans-serif;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 5px;
  padding-left: 10px;
  }

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
p {
  top: 50%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: 'lato',sans-serif;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 5px;
  padding-left: 10px;
}

.box select {
  background-color: #0000ff5b;
  color: white;
  padding: 3px;
  width: 200px;
  border: none;
  font-size: 12px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  color: #FFF;
  font-family: 'lato',sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
}

/* .box::before {
  font-family: 'lato',sans-serif;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
} */

/* .box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
} */

.box select option {
  padding: 30px;
  color: black;
}

label {
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: 'lato',sans-serif;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 5px;
  padding-left: 10px;

}
h4 {
    color: rgb(146, 183, 233);
    font-size: 20px;
    text-align: center;  
  }
   
h5 {
    font-size: 20px;
    text-align: center; 
  }

button {
    background-color:white;
  }
  
  .container {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card {
    background: #191c29;
    margin-top: 30px;
    margin: 10px;
    /* width: var(--card-width);
    height: var(--card-height);
    padding: 3px;
    position: relative;
    /* border-radius: 6px; */
    /* justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;  */
    position: relative;
    flex: 0 0 240px;
    /* width: 240px; */
    height: 300px;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
  }
  
  .card:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
  }
  .card:hover:before, .card:hover:after {
    animation: none;
    opacity: 0;
  }
  
  
  .card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
  }
  
  .card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }

.workout-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: black; 
    height: 150px;
    width: 150px;
  }
  
.save-btn {
    height: 30px;
    width: 50px;
  }

h4:hover {
    cursor:pointer;
  }
button:hover {
    cursor:pointer;
  }


  header {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    font-family: itc-avant-garde-gothic-pro,sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: 6.667vw;
    line-height: .25vw;
    font-feature-settings: "ss01" 1, "ss03" 1, "kern" 1, "dlig" 1;
  }
  .neon-text {
    animation: flicker 6s linear infinite;
  }
  @keyframes flicker {
    0%, 3.3% {
      opacity: 25%;
      color: transparent;
      text-shadow:
        0 0 0.3vw #0000FF,
        0 0 0.521vw #0000FF;
    } 
    3.67%, 60%, 93.3% {
      color: white;
      text-shadow:
        0 0 0.3vw #fff,
        0 0 0.521vw #fff,
        0 0 1.094vw #fff,
        0 0 2.188vw #0000FF,
        0 0 4.271vw #0000FF,
        0 0 4.792vw #0000FF,
        0 0 5.313vw #0000FF,
        0 0 7.865vw #0000FF;
    } 
    10%, 36.7%, 37.3%, 38%, 40.67%, 41.33%, 80%, 93.5%, 98%, 100% {
      opacity: 75%;
      color: white;
      text-shadow:
        0 0 1vw #0000FF,
        0 0 2vw #0000FF,
        0 0 2.5vw #0000FF,
        0 0 3vw #0000FF,
        0 0 4vw #0000FF;
    } 
  }

  b {
    font-weight: 700;
  }

  i {
    font-style: normal;
    font-weight: 100;
  }