body {
    background-color: #E4F3FE;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
  }

  
  #opening {
   color: #082F6E;   
  }
  

  h4 {
    color: black;
    font-size: 20px;
    text-align: center;  

   }
   
   h5 {
    font-size: 20px;
    text-align: center; 
   }

  
  button {
    background-color:white;
  }
  
  .card {
    text-align: left;
    background-color:#9FB3BD;
    padding: 20px;
    width: 10%;
    height: 15%;
    display: inline-block;
    margin: 30px;
    border-radius:50px;
  }
  
  
  .workout-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: black; 
    height: 150px;
    width: 150px;
  }
  
  .save-btn {
    height: 30px;
    width: 50px;
  }

